.u-section-1 {
  min-height: 77px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 67px;
  margin-top: 6px;
  margin-bottom: 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 628px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: hemiheadbdit;
  margin: 64px auto 0;
}

.u-section-2 .u-list-1 {
  width: 496px;
  margin: 67px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-header .u-image-1 {
  background-image: linear-gradient(0deg, rgba(48,51,41,0.3), rgba(48,51,41,0.3));
  background-position: 50% 50%;
}

.u-header .u-sheet-1 {
  min-height: 432px;
}

.u-header .u-image-2 {
  width: 343px;
  height: 27px;
  margin: 45px 23px 0 auto;
}

.u-header .u-image-3 {
  width: 150px;
  height: 72px;
  margin: -49px auto 0 23px;
}

.u-header .u-image-4 {
  width: 1094px;
  height: 97px;
  animation-duration: 1000ms;
  margin: 69px auto 0;
}

.u-header .u-text-1 {
  letter-spacing: 3px;
  animation-duration: 1000ms;
  font-size: 1.25rem;
  line-height: 32px;
  font-family: hemiheadbdit;
  margin: -24px 111px 0 228px;
}

.u-header .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: hemiheadbdit;
  margin: 65px auto 46px;
  padding: 10px 42px 11px 41px;
}

@media (max-width: 1199px) {
  .u-header .u-sheet-1 {
    min-height: 342px;
  }

  .u-header .u-image-2 {
    width: 343px;
    height: 27px;
    margin-top: 38px;
  }

  .u-header .u-image-3 {
    width: 119px;
    height: 57px;
    margin-top: -36px;
  }

  .u-header .u-image-4 {
    height: 84px;
    margin-top: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-header .u-text-1 {
    width: auto;
    margin-top: -21px;
    margin-right: 0;
    margin-left: 114px;
  }

  .u-header .u-btn-1 {
    margin-top: 111px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-header .u-sheet-1 {
    min-height: 323px;
  }

  .u-header .u-image-2 {
    margin-top: 50px;
  }

  .u-header .u-image-3 {
    margin-top: -36px;
  }

  .u-header .u-image-4 {
    height: 53px;
    width: 680px;
    margin-top: 345px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-header .u-text-1 {
    font-size: 0.875rem;
    margin-top: -16px;
    margin-right: 20px;
    margin-left: 117px;
  }

  .u-header .u-btn-1 {
    margin-top: -712px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-header .u-sheet-1 {
    min-height: 307px;
  }

  .u-header .u-image-2 {
    margin-top: 50px;
  }

  .u-header .u-image-4 {
    height: 45px;
    width: 527px;
    margin-top: 311px;
  }

  .u-header .u-text-1 {
    letter-spacing: 2px;
    font-size: 0.625rem;
    line-height: 1;
    margin-top: -5px;
    margin-right: 23px;
    margin-left: 103px;
  }

  .u-header .u-btn-1 {
    margin-top: -637px;
  }
}

@media (max-width: 575px) {
  .u-header .u-sheet-1 {
    min-height: 190px;
  }

  .u-header .u-image-2 {
    width: 189px;
    height: 15px;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-header .u-image-3 {
    width: 70px;
    height: 34px;
    margin-top: -24px;
    margin-left: 0;
  }

  .u-header .u-image-4 {
    height: 29px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-header .u-text-1 {
    letter-spacing: 0px;
    font-size: 0.5rem;
    margin-top: -3px;
    margin-right: 18px;
    margin-left: 59px;
  }

  .u-header .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 27px;
    margin-bottom: 24px;
    padding: 0 4px;
  }
}@font-face {
  font-family: 'hemiheadbdit';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/hemiheadbdit.ttf);
}